/* header */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
button {
    cursor: pointer;
}

.hd-logo {
    float: left;
    width: 33.3%;
    height: 80px;
}

.hd-logo img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.hd-search {
    float: left;
    width: 33.3%;
}

.hd-search-frm {
    margin: 15px;
    max-width: 460px;
}

form.hd-search-frm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.hd-search-frm button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f39f21;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.hd-search-frm button:hover {
    background: #0b7dda;
}

form.hd-search-frm::after {
    content: "";
    clear: both;
    display: table;
}

.hd-link {
    float: left;
    width: 33.3%;
    height: 80px;
}

.hd-login-register {
    text-align: right;
}

.hd-banner * {
    float: left;
    height: inherit;
}

.hd-hotline {
    height: 60px;
    width: 280px; 
}

.hd-hotline-img {
    width: 85%;
    max-height: 56px;
    
}

.hd-cart-icon {
    width: 50px;
}

.hd-cart-count {
    background: url(count7.jpg) no-repeat;
    width: 48px;
    height: 24px;
    padding: 2px 0px 0px 10px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-family: RR;
    margin: 13px 13px 13px 4px;
}

/* horizontal menu */
.navibar {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #f39f21;
}

.navibar li {
    float: left;
}

.navibar li a.active {
    color: #f321b2;
}
/* add dropdown menu */
.navibar li a, .navibar-dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navibar li a:hover .navibar-dropbtn {
    color: #f321b2;
}

li.navibar-dropdown {
    display:inline-block;
}

.navibar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.navibar-dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.navibar-dropdown-content a:hover {
    background-color: #ddd;
}
  
.navibar-dropdown:hover .navibar-dropdown-content {
    display: block;
}

/* header user profile */
.hd-user {
    text-overflow: ellipsis;
    text-align: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.drop-down:hover .dropdown-content {
    display: block;
}

.page-title {
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
    text-align: center;
    text-transform:uppercase;
    font-size: 1.5rem;
}

.alert {
    color: green;
    text-align:center;
}

/* admin menu */
.admin-name {
    float:right !important;
}

.admin-logout {
    right: 8px;
}

.grid-add-new {
    background: #3c9b10;
    height: 40px;
    width: 100px;
    color: white;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: large;
}

/* admin view all user, product, product type */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #d8d8d8;
    font-size: .95rem;
}

th {
    background-color: #f39f21;
    color: white;
    text-align: center;
}

th, td {
    padding: 10px;
}

td {
    text-align: center;
    max-width: 490px;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #f2f2f2;
}

table a:hover {
    text-decoration: underline;
}

.grid-action {
    width:110px;
}

.grid-action-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* class for hide spin in input tag */
/*.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}*/

/* product-detail */
.product-content {
    width:1000px;
    margin:10px auto;
}

.product-image {
    display:flex;
    padding-top:20px;
}
.product-image-content {
    width:400px;
    height:400px;
    position:relative;
}

.product-detail-info {
    padding:0px 30px;
    margin-bottom: 20px;
    position:relative;
}

.product-detail-info > div {
    margin-bottom: 20px;
}

.product-content-title {
    text-align: left;
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 7px;
    font-weight: 600;
    letter-spacing: 0;
}

.product-content-title span {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 7px;
    font-weight: 600;
    letter-spacing: 0;
}

.product-content-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    position: absolute;
    background: #bbb;
    z-index: 1;
}

.product-name {
    margin-bottom: 20px;
}

.product-price {
    color:#ff6501;
}

.quantity-product {
    border: 1px solid grey;
    text-align: center;
    width: 166px;
    display: flex;
    border-radius: 5px;
}

.quantity-product * {
    font-size: x-large;
    font-weight: 600;
}

.quantity-up-btn, .quantity-down-btn {
    width: 35px;
    height: 35px;
    margin: 0px;
    padding: 0px;
}

.quantity-up-btn {
    background: #3c9b10;
}

.quantity-input {
    text-align: center;
    width: 100px;
    height: 35px;
    margin: 0px;
    padding: 0px;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

/*cần style lại sau*/
.product-buy, .product-add-to-cart {
    text-transform: uppercase;
    height: 35px;
    color: white;
    text-transform: uppercase;
    background: #4caf50;
    margin-top: 15px;
}
.product-buy {
    background: #f39f21;
}

.product-revalent-title {
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 7px;
    font-weight: 600;
    letter-spacing: 0;
}

.product-revalent-title span {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 7px;
    font-weight: 600;
    letter-spacing: 0;
}

.product-revalent-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    position: absolute;
    background: #bbb;
    z-index: 1;
    }

/* checkout */
.checkout {
    padding: 20px;
}

.checkout-title {
    margin: 30px auto;
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.checkout-title-info {
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
    line-height: 15px;
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 7px;
    font-weight: 600;
    letter-spacing: 0;
}

.checkout-title-info span {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 7px;
    font-weight: 600;
    letter-spacing: 0;
}

.checkout-title-info::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    position: absolute;
    background: #bbb;
    z-index: 1;
}

.checkout-content {
    margin-top: 20px;
}

.checkout-content-info {
    padding: 10px;
}

.checkout-content-info input {
    width: 500px;
    margin: 10px 0px 0px;
    padding: 5px;
    height: 35px;
}

.checkout-detail {
    padding: 10px 0px;
    margin: 5px;
    border-bottom: 1px solid gainsboro;
    display: flex;
}

.checkout-content-left {
    text-overflow: ellipsis;
    flex: 1 0 0;
    width: 150px;
}

.checkout-content-right {
    flex: 1 0 0;
    text-align: right;
}

.checkout-btn {
    padding: 10px 0px 0px;
    margin: 5px;
}

.checkout-btn button {
    height: 35px;
    background: #3c9b10;
    color: white;
    border-radius: 5px;
    cursor:pointer;
}

/* introduce */
.introduce-content {
    width: 70%;
    margin: 0 auto;
}

.introduce-content p {
    padding: 5px;
    margin-bottom: 10px;
}

/* contact */
.contact-agency-content * {
    padding: 2px;
    margin: 2px;
}

.contact-content {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
}

.contact-agency {
    width: 40%;
    padding: 20px;
    height: 480px;
    border-left: 2px solid #dedede;
}

.contact-agency-title {
    text-transform: uppercase;
    font-weight: 600;
}

.contact-agency-info {
    padding-left: 15px;
    margin: 4px;
}

/* private-policy */
.policy {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.policy-title {
    margin: 0 auto;
    padding: 20px;
    font-weight: 600;
    border-bottom: 1px solid grey;
    text-align: center;
}

.policy-content {
    padding: 20px;
    font-size: .85rem;
}

/* product-add-new */
.product-new-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
}

.product-add-new {
    margin: 10px;
}

.product-new-name {
    width: 40%;
    float: left;
}

.product-new-image {
    width: 40%;
    float: left;
}

.product-new-name label {
    display: inline-block;
    width: 145px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background: #8BC34A;
    color: white;
    font-size: large;
    padding: 5px;
    text-align: right;
}

.product-new-image-frame {
    border: 1px solid gainsboro;
    width: 270px;
    height: 270px;
}

.product-new-name input, textarea, optgroup {
    width: 400px;
    /* padding: 5px;
    margin: 8px; */
}

.product-new-name select {
    margin: 7px;
    padding: 8px;
}

.product-new-name textarea {
    position: absolute;
    margin: 8px 8px 8px 11px;
    width: 402px;
    height: 70px;
}

/* cart */
.cart {
    margin-top: 20px;
    text-align: center;
}

.cart-title {
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
}

.cart-empty {
    height: 120px;
    display: none;
}

.cart-empty-link a {
    background: green;
    width: 180px;
    color: #ffff;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.cart-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.cart-update-btn {
    width: 80%;
    margin: 0 auto;
    height: 50px;
}

.cart-update-btn button {
    text-transform: uppercase;
    float: right;
    height: 35px;
    background: #424141;
    color: white;
    text-transform: uppercase;
}

.cart-product-name, .cart-product-price, .cart-product-quantity {
    border-right: 1px solid gainsboro;
}

.cart-product-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.cart-content-product-detail {
    display: flex;
}

.cart-product-value {
    border-top: 1px solid gainsboro;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
}

.cart-product-name {
    width: 50%;
    text-align: center;
    align-items: center;
    display: table-cell;
}

.cart-product-name-value a {
    text-align: center;
    text-overflow: ellipsis;
}

.cart-product-image {
    margin: 10px;
    width: 80px;
    height: 80px;
}

.cart-product-price, .cart-product-quantity {
    width: 15%;
}

.cart-product-amount {
    width: 20%;
}

.cart-info {
    margin: 0 auto;
    width: 80%;
    height: 400px;
}

.cart-info-summary {
    width: 45%;
    float: right;
}

.cart-info-title {
    text-transform: uppercase;
    height: 30px;
    border-bottom: 2px solid black;
    text-align: left;
}

.cart-info-detail-item {
    border-bottom: 1px solid gainsboro;
    height: 60px;
}

.cart-info-detail-item-left {
    padding: 20px 0px;
    text-transform: uppercase;
    float: left;
}

.cart-info-detail-item-right {
    float: right;
    padding: 20px 0px;
}

.cart-checkout-btn button {
    text-transform: uppercase;
    float: right;
    height: 35px;
    color: white;
    text-transform: uppercase;
    background: #4caf50;
    margin-top: 15px;
}

/* main profile page */
.pf {
    padding-bottom: 10px;
    background: #f1f1f1;
}

.pf-main {
    width: 70%;
    display: flex;
    margin: 0px auto;
}

.pf-navi {
    width: 20%;
    background: #f1f1f1;
    padding: 25px 10px;
}

.pf-navi-img {
    height: 60px;
    border-bottom: 1px solid #d0cccc;
}

.pf-navi-avatar-thumb {
    display: flex;
    border-bottom: 1px solid gainsboro;
    height: 60px;
}

    .pf-navi-avatar-thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }

.pf-navi-user {
    text-overflow: ellipsis;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.pf-navi-username {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 134px;
    overflow: hidden;
    font-weight: 600;
}

.pf-link {
    margin-top: 25px;
}

.pf-link-detail {
    margin: 15px 0px;
}

.pf-link-title {
    padding: 7px;
}

.pf-link-detail a {
    padding-left: 30px;
}

#my-profile {
    padding: 7px;
}

.pf-link-detail a:active {
    color: #f39f21;
}

.pf-info {
    width: 80%;
    padding: 25px;
    background: white;
    margin: 20px 0;
}

.pf-info-navi-title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #333;
    text-transform: capitalize;
}

.pf-info-navi-note {
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
    margin-top: 3px;
}

.pf-info-content {
    padding-top: 30px;
}

.pf-info-detail {
    margin-bottom: 10px;
}

.pf-info-detail label {
    display: inline-block;
    width: 120px;
    text-align: right;
    text-transform: capitalize;
    color: rgba(85,85,85,.8);
    margin: 10px;
    height: 30px;
}

.pf-info-detail input {
    display: inline-block;
    width: 400px;
    text-align: left;
    padding: 10px;
    height: 40px;
    font-size: .875rem;
}

.pf-info-content {
    width: 70%;
    border-right: 1px solid gainsboro;
}

.pf-info-image {
    width: 30%;
    padding: 0 30px;
}

.pf-info-check input {
    width: auto;
    height: auto;
    margin: 0 8px;
}

#output {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.pf-info-select-img {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    height: 50px;
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
}

.pf-info-date-of-birth select {
    width: 105px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 40px;
    font-size: .875rem;
    margin-right: 5px;
}

.btn-pf-save {
    color: white;
    background-color: orange;
    width: 100px;
    height: 40px;
    margin: 18px 134px;
    font-size: medium;
}

.product-choose-img {
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid rgba(85,85,85,.8);
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

/* profile- change password */
.pf-info-detail-pass label {
    display: inline-block;
    width: 150px;
    text-align: right;
    text-transform: capitalize;
    color: rgba(85,85,85,.8);
    margin: 10px;
    height: 30px;
}

.pf-info-detail-pass input {
    display: inline-block;
    width: 334px;
    text-align: left;
    padding: 10px;
    height: 40px;
    font-size: .875rem;
}

.pf-info-navi {
    height:60px;
    border-bottom: 1px solid #d0cccc;
}

.pf-info-main {
    display: flex;
    padding-top: 30px;
}

/* pagination */
.pagination {
    text-align: center;
    margin: 20px;
}

.pagination-center {
    display: inline-block;
}

.pagination-center a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination-center a:hover {
    background:cadetblue;
}

.pagination-center a.active {
    background-color: #f39f21;
    color: white;
    border: 1px solid #f39f21;
}

/* go to top */
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}

#scroll-to-top:hover {
    background-color: #555;
}

/* khac so voi ho so */
.pf-info-content-address {
    width: 70%;
}

.pf-info-image {
    width: 30%;
    padding: 0 30px;
}

.pf-info-gender input {
    width: auto;
    height: auto;
    margin: 0 8px;
}

#output {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.pf-info-date-of-birth select {
    width: 105px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 40px;
    font-size: .875rem;
    margin-right: 5px;
}

/* khac so voi profile */
.btn-pf-save-pass {
    color: white;
    background-color: orange;
    width: 60px;
    height: 30px;
    margin: 18px 173px;
}

/* products */
.product-list {
    display: flex;
    width: 1165px;
    margin: 0 auto;
    margin-top:10px;
    flex-flow: row wrap;
}

.product-item {
    width: 320px;
    height: 430px;
    background-color: #f1f1f1;
    margin: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.product-item-img {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.product-item-name {
    text-align: center;
    padding: 6px 16px;
    line-height: 1.5;
    color:black;
}

.product-item-price {
    text-align: center;
    color:black;
    padding-bottom: 4px;
}

.add-to-cart {
    background: #f39f21;
    margin: 3px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    height: 33px;
}

/* register page, login page */
.rg-lg * {
    font-size: 1rem;
    box-sizing: content-box;
}

.rg-lg {
    width: 400px;
    border: 1px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21rem;
    margin-left: -15rem;
    padding: 20px 20px 10px 20px;
}

.rg-lg-link {
    padding: 10px 0px;
}

.rg-lg-link-left {
    text-transform: uppercase;
}

.rg-lg-link-right {
    float: right;
}

.rg-lg a {
    color: #ee4d2d;
}

.rg-lg-frm input {
    width: 96%;
    height: 20px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;
}

.rg-lg-btn {
    float: right;
    margin-top: 20px;
    margin-bottom:10px;
    display: flex;
}

.rg-lg-btn button {
    height: 2.125rem;
    min-width: 8.75rem;
    margin-left: 0.5rem;
}

.rg-lg-btn-left {
    border: 0;
    cursor: pointer;
    display:inline-block;
    width:152px;
    height:inherit;
    line-height: 39px;
    text-align: center;
    background: #c5c3c3;
    text-decoration: none !important;
}

.rg-lg-btn a:hover {
    color:white !important;
    
}

.rg-lg-btn-right {
    background-color: #ee4d2d;
    color: #fff;
    justify-content: flex-end;
    cursor: pointer;
}

/* footer */
.footer {
    border-top: 1px solid gainsboro;
}

.footer-content {
    display: flex;
}

.footer-content > * {
    width: 33.3333%;
}

.footer-logo > img {
    width: 100%;
    background: lightblue;
}

.footer-contact, .footer-link {
    border-left: 1px solid #f39f21;
    margin: 5px;
}

.footer i {
    color: #f39f21;
    margin-left: 6px;
    width: 27px;
}

.footer-title {
    text-transform: uppercase;
    margin: 14px;
    text-align: center;
    width: auto;
    display: block;
}

.footer-contact-item {
    margin: 9px;
}

.footer-copyright {
    text-align: center;
    background: #f39f21;
    height: 30px;
    line-height: 30px;
}

.footer-copyright p {
    margin: 0;
}